//Efecto 2
figure
    background-color: white
    box-shadow:7px 7px 18px 0px rgba(50, 50, 50, 0.35);
    margin: 15px
    position: relative
    img
        padding: 10px
        transition: transform 0.5s
        max-width: 100%;
        position: relative
        z-index:10
        &:hover
            transform: translateY(-90px)
figcaption 
    position: absolute
    flex-flow: column
    color: black
    height: 90px
    width: 100%
    bottom: 0
    text-align: center
    padding-bottom: 20px
